/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic);

/* ******************************
 For the github btn
****************************** */

.github-btn {
  font-size: 11px;
}
.github-btn,
.github-btn .btn {
  font-weight: bold;
}
.github-btn .btn-default {
    text-shadow: 0 1px 0 #fff;
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(#ffffff), to(#e0e0e0));
    background-image: -webkit-linear-gradient(top, #ffffff, 0%, #e0e0e0, 100%);
    background-image: -moz-linear-gradient(top, #ffffff 0%, #e0e0e0 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    background-repeat: repeat-x;
    border-color: #dbdbdb;
    border-color: #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
}

.github-btn .btn-default:hover, .github-btn .btn-default:focus {
    background-color: #e0e0e0;
    background-position: 0 -15px;
    color: #333;
    border-color: #adadad;
}

.nav-github {
    width: 325px;
}
 .nav-github > span {
     padding-right: 0.5em;
 }

 .icon-github {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 }

 .github-watchers .icon-github:before{
      content: "\f005";
 }

 .github-forks .icon-github:before{
      content: "\f126";
 }

.gh-count{
  padding: 2px 5px 3px 4px;
  color: #555;
  text-decoration: none;
  text-shadow:0 1px 0 #fff;
  white-space:nowrap;
  cursor:pointer;
  border-radius:3px;
  position:relative;
  display:none;
  margin-left:4px;
  background-color:#fafafa;
  border:1px solid #d4d4d4;
}

.gh-count:hover,.gh-count:focus{color:#4183c4;text-decoration: none;}
.gh-count:before,.gh-count:after{content:' ';position:absolute;display:inline-block;width:0;height:0;border-color:transparent;border-style:solid}
.gh-count:before{top:50%;left:-3px;margin-top:-4px;border-width:4px 4px 4px 0;border-right-color:#fafafa}
.gh-count:after{top:50%;left:-4px;z-index:-1;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#d4d4d4}

thead {
    font-weight: bold;
}

table {
    width: 100%;
}


h1, h2, h3 {
    margin-top: .8em;
    margin-bottom: .7em;
}

pre code {
    font-size: 18px !important;
    font-family: 'Courier New', monospace;
}

body {
    color: #353b44;
    background: #F0F0F0;
    font-family: 'Lato', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:16px !important;
    font-weight: 300;
}

h1,h2,h3,h4,h5{
    font-weight: 400;
}

label{
    font-weight: 300;
}

.sidebar-menu .fa {
    width: 30px;
    text-align: center;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
    outline: 0;
}


.panel-body a {
    line-height: 1.1;
    display: inline-block;
}
.panel-body a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: #CC5A5C;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

.panel-body a:hover:after, .panel-body a:focus:after {
    width: 100%;
}

input:focus, textarea:focus { outline: none; }
*:focus {outline: none;}
::selection {
    background: #CC5A5C;
    color: #fff;
}
::-moz-selection {
    background: #CC5A5C;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/*sidebar navigation*/

#sidebar {
    width: 200px;
    position: fixed;
    top: 60px;
    bottom: 0;
    background: #ffffff;
    overflow-y: auto;
}

ul.sidebar-menu, ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li {
    background: #F8F8F8;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child {
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 0 0 0 32px;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #737B83;
    font-size: 14px;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #CC5A5C;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li {
    display: inline;
    margin-top: -1px;
    line-height: 20px !important;
    text-transform: capitalize;
}

ul.sidebar-menu li.sub-menu {
    line-height: 15px;
    font-size: 16px;
}

ul.sidebar-menu li a span {
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #8b9199;
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 16px;
    font-weight: 300;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: 1px solid #D7D7D7;
    overflow:hidden;
}

ul.sidebar-menu li.active a, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #F8F8F8;
    color: #CC5A5C;
    display: block;
    /*border-radius: 4px;
    -webkit-border-radius: 4px;*/
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    border-bottom: 1px solid #CC5A5C;
}
/*ul.sidebar-menu li.active a,*/ ul.sidebar-menu .sub-menu li.active a{
    border-bottom: 1px solid #CC5A5C;
}

ul.sidebar-menu li a i {
    font-size: 18px;
    padding-right: 6px;
    /*color: #CC5A5C;*/
}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #CC5A5C;
}

ul.sidebar-menu li.active a i {
    color: #CC5A5C;
}


#sidebar ul > li > a .menu-arrow {
    float: right;
}

#main-content {
    position:absolute;
    overflow: hidden;
    left: 200px;
    top:60px;
    right:0;
    bottom:0;
    line-height: 1.8;
    font-size: 19px;
}

.sidebar-closed #main-content {
    left:0;
}

.header {
    position: fixed;
    min-height: 60px;
    padding: 0 10px;
    left: 0;
    right: 0;
    z-index: 1002;
    text-align:center;
}

.black-bg {
    background: rgba(20,20,20,0.9);
    border-bottom: 1px solid #f1f2f7;
}

.wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.wrapper .panel {
    margin-bottom: 0;
    min-height: 100%;
}

.row {
    width: 100%;
    height: 100%;
    min-height: 100%;
    padding:0;
    margin:0;
}

.col-md-1,
.col-md-10 {
    padding: 0;
    display: table-cell;
    height: 100%;
}

.row-content {
    overflow-y: auto;
}

a.logo {
    font-size: 22px;
    font-weight: 300;
    color: #8E8E93;
    float: left;
    margin-top: 10px;
    text-transform: uppercase;
}

a.logo:hover, a.logo:focus {
    text-decoration: none;
    outline: none;
}

h1.top-menu {
    margin-top: -5px;
}
.title-row {
    position: absolute;
    left: 60px;
    right: 60px;
    padding-top: 15px;
    padding-left: 140px;
    color: #EEE;
    text-align: left;
}
.notification-row {
    float: right;
    margin-top: 15px;
    margin-left: 65px;
}


.top-nav  {
    margin-top: 15px;
}

/*--sidebar toggle---*/

.toggle-nav {
    display: block;
    position:fixed;
    color: #aaaaaa;
    font-size: 22px;
    cursor: pointer;
    bottom:10px;
    left:0;
    z-index: 100;
    font-size: 1em;
    padding: 0.5em;
    border: 1px solid #D7D7D7;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-left: none;
    background-color: #FFFFFF;
    -webkit-transition: 0.3s ease;
    -webkit-property: background, color;
    -moz-transition: 0.3s ease;
    -moz-transition-property: background, color;
    -o-transition: 0.3s ease;
    -o-transition-property: background, color;
    -ms-transition: 0.3s ease;
    -ms-transition-property: background, color;
    transition: 0.3s ease;
    transition-property: background, color;
}

.toggle-nav:hover {
    background-color: rgba(0,0,0,0.05);
    color: #888888;
}

.toggle-nav .icon-reorder {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
}

@-webkit-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@-ms-keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

@keyframes square {
  0% { background-position: 0 0; }
  25% { background-position: 100% 0; }
  50% { background-position: 100% 100%; }
  75% { background-position: 0 100%; }
  100% { background-position: 0 0; }
}

.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;
    width:100%;
    height: 100%  display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 6em;
    color: rgba(0,0,0,0.5);
    text-align: center;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navigation i {
    position:absolute;
    margin-top: -0.5em;
    padding: 0 0.1em;
    top: 50%;
    left: 0;
    right: 0;
}

.navigation.next {
    right:0;
}

.navigation:hover {
    background-color: rgba(0,0,0,0.05);
}
