@media (max-width: 1024px) {


}

@media (max-width: 768px) {

    .header {
        position: absolute;
    }

    .title-row {
        padding-left: 0;
        text-align: center;
    }

    .black-bg {
        border-bottom: none;
    }

    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        bottom: inherit;
        width: 100%;
        z-index: 1001;
        margin: 0px !important;
    }

    #sidebar ul.sidebar-menu {
        padding: 0 15px;
        border: 5px solid rgba(20,20,20,0.9);
        border-top: none;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 5px 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }

    /*--sidebar toggle---*/
    .toggle-nav {
        display:block;
        position: static;
        color: #bbbbbb;
        float: right;
        margin: 10px 5px;
        background: none;
        border: none;
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        -ms-transition: none;
        transition: none;
    }

    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
        left: 0;
    }

    .row-content {
        width: 100%;
    }

    .btn {
        margin-bottom: 5px;
    }

}

@media (max-width: 470px) {

    .notification-row {
        display: none;
    }
}

@media (max-width:320px) {

    .notification-row {
        display: none;
    }
}
